.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
    letter-spacing: 2px;
  }
  .search-click:focus {
    letter-spacing: 2px;
    width: 300px;
    padding-left: 50px;
  }
  .search-click {
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    height: 50px;
  }
  .search-click input {
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
  }

  .carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}


.card { border-radius: .7rem; }
footer{
  width: 100vw;
}

.d-flex{
  transition: 1s;
}

.d-flex:hover{
  transform: scale(1.04);

}

.img-fluid{
  border-radius: 10px;

}
.img-fluid{
  border-radius: 10px;
  transition: 0.5s;
   
}
.img-fluid:hover{
  transform: scale(1.04);
}
.col-6 {
  border-radius: 10px;
  transition: 0.2s ease-in;
}
.col-6:hover{
  filter: brightness(70%);
}
